.products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  .cards {
    margin: 1rem 2rem;
    flex-grow: 0;
    max-width: 40%;
    flex-basis: 40%;
  }

  .makeStyles-media-9 {
    height: 8rem;
    width: 100%;
  }
}
